Manifest.toml

docs/build
*.h5
data/*.csv
data/*.toml
.vscode
data/*.txt
data/*.csv
data/*.toml

docs/transpiled
!docs/src/_fig
docs/src/_fig/*.png
docs/src/_fig/*.svg
docs/src/_fig/*.gif

.entangled/filedb.json
.entangled/tasks.json

scratch
notebooks
*.cov

